html {
    height: 100%;
    box-sizing: border-box;
}
  
*,*:before,*:after {
    box-sizing: inherit;
}

body {
    position: relative; 
    margin: 0; 
    padding-bottom: 6rem;
    min-height: 100%; 
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Proza Libre', sans-serif; 
    font-weight: 700; 
}

p {
    font-size: 20px; 
}

a {
    /* color: #508991;  */
    color: #ABB557; 
    text-decoration: none; 
}

a:hover {
    color: #09BC8A; 
}

a:active {
    color: #0BEAAB; 
}

.body {
    margin: 0 auto;
    padding-top: 64px;
    width: 75%;
}

.main-wrapper {
    width: 75%; 
    margin: 1.5em auto; 
}

/* NAVIGATION BAR */ 
nav {
    overflow: hidden; 
    font-size: 20px;
    position: fixed; 
    top: 0; 
    height: 80px; 
    width: 100%;
    z-index: 1; 
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #002147;
}
  
.navitem {
    float: left;
    line-height: 2em;
}

.navitem a {
    display: inline-block;
    color: #eee;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navitem a:hover {
    background-color: #001329;
}

#blog-nav {
    float: right; 
}

/* FOOTER */ 
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #002952; 
    color: whitesmoke; 
  }

footer p {
    padding: 12px 2em; 
    font-size: 16px;  
    top: 50%; 
    transform: translate(0, -50%);
} 

.footitem a {
    color: white; 
}

.footitem a:hover {
    color: #09BC8A;  
 }

 .footitem a:active {
     color: #15F4B5; 
 }

#profpic {
    border-radius: 50%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    max-height: 25%; 
    max-width: 25%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
