{% extends "nav.html" %}
{% block title %}Asymptote{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Super cool examples of stuff!</h1>
        <br> 
    </div>
</div> 

<div class="row">
<div class="col-4 asy my-auto">
    <img width=80% src="../static/asymptote/bypass-disk.png"> 
</div>
<div class="col-4 asy my-auto">
    <img width=80% src="../static/asymptote/sunrise copy.jpg">
</div>
<div class="col-4 asy my-auto">
    <img width=80% src="../static/asymptote/adj-bypass.png"> 
</div>
</div>  

<div class="row">
    <br> 
    <br> 
</div>

<div class="row">
    <div class="col-4 asy my-auto">
        <img width=80% src="../static/asymptote/boundary-parallel.png"> 
    </div>
    <div class="col-4 asy my-auto">
        <img width=80% src="../static/asymptote/disk-setup.png">
    </div>
    <div class="col-4 asy my-auto">
        <img width=80% src="../static/asymptote/bypass-disk.png"> 
    </div>
</div>

{% endblock %}